

#container{
    
background-image: url("Img/bgLago.png");
    margin-left: 20px;
    margin-top: 15px;
    padding-top: 2px;
    width: 300px;
    
}

#container > div{
    width: 270px;
    margin: 15px 15px;
    color: white;
    padding: 10px auto;
    background-color: rgb(3, 83, 3);
    border: 1px solid white;
    border-radius: 3%;
}

#img{
    width: 100%;
    display: flex;
    margin: 5px 5px;
    padding: 5px 5px;
    text-align: center;
}

#img > img{
    width: 35%;
}


#img > h2{
    width: 60%;
}

#links{
    display: inline-block;
}

li{
    list-style: none;
}

/* 

.elegir{
    display: flex;
    
}


.elegir h5{
    width: 45%;
    margin: 3% 2%;
    padding: 0 5px;
    white-space: nowrap;
}

.elegir a{
    font-size: small;
    width: 45%;
    text-decoration: none;
    color: white;
    background-color: rgb(141, 143, 51);
    margin: 3% 50%;
    
    padding: 5px 5px;
    border-radius: 10%;
    
}

.elegir a:hover{
    background-color: rgb(51, 140, 143);;
}

 */

 .opcionEntrega{
    max-width: 252px;
    padding-left: 5%;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 100px 35px 100px;
    grid-template-rows: 5px 30px 5px;
 
    
}

.opcionEntrega > div{
    
    display: grid;
    align-content: center;
}


.elegir button{
    font-size: small;
    width: 45%;
    text-decoration: none;
    color: white;
    background-color: rgb(141, 143, 51);
    padding: 2px 5px;
    border-radius: 10%;
    
}

.elegir button:hover{
    background-color: rgb(51, 140, 143);;
}

