:root {
  primary-color: #c0392b; /* Rojo pizzero */
  secondary-color: #f4d03f; /* Amarillo queso */
  accent-color: #2ecc71; /* Verde albahaca */
  text-color: #2c3e50;
  background-color: #fef9e7;
}

body{
    margin:0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;  
background-image: url("Img/bgLago.png");
margin:0;

width: 100vw;
height: 100vh;
}





#container > div{
    width: 270px;
    margin: 15px 15px;
    color: white;
    padding: 10px auto;
    background-color: rgb(3, 83, 3);
    border: 1px solid white;
    border-radius: 3%;
}

#img{
    width: 100%;
    display: flex;
    margin: 5px 5px;
    padding: 5px 5px;
    text-align: center;
}

#img > img{
    width: 35%;
}


#img > h2{
    width: 60%;
}

#links{
    display: inline-block;
}

li{
    list-style: none;
}

/* 

.elegir{
    display: flex;
    
}


.elegir h5{
    width: 45%;
    margin: 3% 2%;
    padding: 0 5px;
    white-space: nowrap;
}

.elegir a{
    font-size: small;
    width: 45%;
    text-decoration: none;
    color: white;
    background-color: rgb(141, 143, 51);
    margin: 3% 50%;
    
    padding: 5px 5px;
    border-radius: 10%;
    
}

.elegir a:hover{
    background-color: rgb(51, 140, 143);;
}

 */

 .opcionEntrega{
    max-width: 252px;
    padding-left: 5%;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 100px 35px 100px;
    grid-template-rows: 5px 30px 5px;
 
    
}

.opcionEntrega > div{
    
    display: grid;
    align-content: center;
}

button {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.elegir button{
    font-size: small;
    width: 45%;
    text-decoration: none;
    color: white;
    background-color: rgb(141, 143, 51);
    padding: 2px 5px;
    border-radius: 10%;
   
}

.elegir button:hover{
    background-color: rgb(51, 140, 143);;
}

